div{
    display: inline-block;
height: 100px;
width: 100px;

}
#div1{
    background-color: red;
}
#div2{
    background-color: rgb(195, 102, 102);
}
#div3{
    background-color: rgb(97, 128, 152)
    ;
}